@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

@font-face {
    font-family: 'Calistoga';
    src: url(fonts/Calistoga-Regular.ttf);
}

section {
    display: block;
}

h2 {
    color: #28282B;
    font-family: Calistoga;
    font-size: large;
    font-size: 40px;    
    letter-spacing: 2px;
}

#find .section-title {
    display: flex;
}

.div3 { 
    grid-area: 1 / 1 / 2 / 2; 
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
}

.section-title {
    /* display: flex; */
    justify-content: center;
    vertical-align: middle;
    margin: 20px;
}

.dont {
    font-family: 'Calistoga';
    font-size: xx-large;
    /* margin-left: 210px; */
    letter-spacing: 3px;
    font-size: 55px;
    margin-top: 100px;

    /* justify-content: center; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* position: relative;  
    top: 50%;  
    left: 50%; */
    /* display: inline; */
}

img {
    /* width: 350px;
    height: 150px; */
    width: inherit;
    height: inherit;
    /* object-fit: contain; */
    display: inline;
}


/* middle */

.lucky {
    border: none;
    background-color: #2f9462;
    padding: 15px;
    font-size: x-large;
    border-radius: 15px;
    color: #FDF5DC;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', Times, serif;
    margin-top: 20px;
  }

  button:hover {
    cursor: pointer;

  }

h5 {
    font-size: large;
    font-family: Calistoga;
    color: #2f9462;

}

h6 {
    font-size: medium;
    color: #28282B;
}

.location-bonkey {
    margin-top: 10px;
    border-top: dotted 2px #28282B;
    padding-top: 20px;
}