nav {
    display: flex;
    padding: 5px;
}

a img {
    width: 90px;
    height: 90px;
}

a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	font-size: x-large;
}

/* interactivity */
nav a:hover {
	color: var(--secondaryColor);
}