*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    
    box-sizing: border-box;
}

.search-box{
    width: 50%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    height: 1000px;
    width: 50px;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    height: 1000px;
    width: 50px;
    text-transform: capitalize;
}