@font-face {
    font-family: 'Calistoga';
    src: url(fonts/Calistoga-Regular.ttf);
}

.search-button {
  border-color: transparent;
  background-color: #2f9462;
  border-radius: 15px;
  font-size: medium;
  color: aliceblue;
  padding: 7px;
  font-family: 'Calistoga';
  margin-left: 10px;
}

.locationList {
  display: flex;
  flex-wrap: wrap;
  background-color: #FDF5DC;
  justify-content: center;
  gap: 30px;
}

.search-container{
    background: #2f9462;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 300px;
    height: 200px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

::placeholder{
    color:#2f9462;
    font-family: Calistoga;
    font-size: large;
    background-color: #fff;
    padding: 10px;
    font-size: medium;
    margin-right: 10px;
    box-shadow: #000;
}

/* .search-container .search-btn .fas{
    color: #ed5600;
} */

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  55% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}

#search {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px;
}

#tags-box {
  /* border:#2f9462; */
  border: 10px, #2f9462;
  border-style: solid;
  width: 327.8px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}

#tags-box input {
  width: 50px;
}

.results-status {
  text-transform: none;
  color: #191516;
}